.page {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #323232;
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__section {
    width: 64%;
    min-height: 76%;
    margin: auto;
    padding: 6% 0 8.5%;
    background-color: #ffffff;
    box-sizing: border-box;
}

.page__section--message {
    min-height: 40%;
    margin: auto;
    margin-top: 13%;
    padding: 12% 9%;
    text-align: center;
}

.page__heading {
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    text-align: center;
}

.page__form {
    padding: 0 18%;
    box-sizing: border-box;
}

.form__label {
    display: block;
    margin-bottom: 14px;
}

.form__input {
    height: 50px;
    padding: 14px 15px 17px;
    border: 1px solid #D7D7D7;
    background: linear-gradient(180deg, #F8F8F8 0%, rgba(243, 243, 243, 0) 100%, #F2F2F2 100%);
    box-sizing: border-box;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.form__input:focus,
.form__input:active {
    border-color: #4892EC;
    outline: none;
}

.form__input--invalid,
.form__input:invalid {
    position: relative;
    border-color: #C98E99;
    outline: none;
}

.form__input--warning {
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 18px;
    color: #C98E99;
}

.form__check {
    display: inline-block;
    width: 21px;
    height: 16px;
    margin-top: 15px;
    margin-left: auto;
    background-image: url("img/check.svg");
}

.form__wrapper {
    display: flex;
}

.hidden {
    opacity: 0;
}

.hide-check {
    opacity: 0;
}

.form__input--number {
    width: 57%;
    margin-right: 3%;
}

.form__input--contact {
    width: 73%;
}

.form__input--contact:last-of-type {
    margin-bottom: 19px;
}

.form__unit {
    display: inline;
    align-self: center;
    margin: 0;
}

.form__dropdown {
    display: block;
    width: 75%;
    height: 50px;
    margin-bottom: 26px;
    padding-left: 15px;
    border: 1px solid #D7D7D7;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-image: url("img/Shape.svg"), linear-gradient(360deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
    background-repeat: no-repeat, repeat;
    background-size: 10px 5px, 100%;
    background-position: right 5px top 50%, 0 0;
    box-sizing: border-box;
    border-radius: 3px; 
}

.square {
    vertical-align: super;
}

.form__checkbox {
    margin-bottom: 31px;
}

.form__sum {
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 33px;
}

.form__sum-style {
    color: #b23057;
}

.form__fence-style {
    color: #5c98e5;
}

.page__order-style {
    color: #2f79d4;
}

.page__span {
    display: block;
}

.form__button {
    height: 50px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.form__button--active {
    background: linear-gradient(180deg, #4892EC 0%, #2F79D4 100%);
    border: 1px solid #226DC8;
}


.form__button--disabled {
    background: linear-gradient(180deg, #818387 0%, #696B6F 100%);
    border: none;
}

.form__button--further {
    width: 150px;
    border-radius: 3px;
}

.form__button--order {
    width: 230px;
    border-radius: 6px;
}

.form__button:hover,
.form__button:focus {
    background: #3E8FF2;
    border: 1px solid #3789EC;
}

.form__button:active {
    background: #256FCA;
    border: 1px solid #226DC8;
}

.hidden-section {
    display: none;
}